.top {
  display: flex;
  flex-direction: column;
  padding-left: 165px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%),
    linear-gradient(90deg, #e9defa 0%, #fbfcdb 100%);
  position: relative;
  margin-bottom: 60px;
}
