.header__button {
    display: flex;
    align-items: center;
    column-gap: 9px;
    padding: 13px 19px;
    border-radius: 5px;
    background: var(--download, linear-gradient(268deg, #0057FF 1.64%, #259BFF 97.95%));
    box-shadow: 0px 2px 22px 0px rgba(0, 87, 255, 0.43);
    border: none;

}